@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");

body {
    background-color: #111111;
    font-family: "Lexend", sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 46px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.main {
    margin: 150px 300px;
}

.social {
    margin: 30px 0px;
}

.fa-brands {
    padding-right: 10px;
}

.fa-brands:hover {
    color: #a0a0a0;
    cursor: pointer;
}