@font-face {
    font-family: 'Computer Modern';
    src: url('cmunrm.ttf') format('truetype');
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('cmuntt.ttf') format('truetype');
}

* {
    font-family: 'Computer Modern';
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 10%;
}

.heading {
    margin-bottom: 20px;
}

.bash {
    margin: 10px 0px 10px 0px;
    font-family: 'Computer Modern Typewriter';
    font-size: 18px;
}

.intro {
    margin-top: 5px;
    font-size: 20px;
}

.socials {
    margin: 10px 0px 10px 0px;
    display: inline-block;
}

.fa-brands {
    margin-right: 10px;
}

.projects {
    font-size: 20px;
}